<form method="post" action="">
<%= label :login, "Last Name:" %>
<%= text_field :login, :last_name %><br/>
<%= label :login, "Password:" %>
<%= password_field :login, :password %><br/>
<%= button_tag "Log In" %>
</form>
